body{
    background-image: url("https://img.freepik.com/free-vector/flying-envelopes-template_23-2147501884.jpg?w=740&t=st=1706887726~exp=1706888326~hmac=8a4e7112ce57a3870a11028855f8909029706b6fd389f2595aa9b41b590b773b");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}